<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        {% if is_granted('ROLE_SUPERADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_espacio_index') }}">
                <span data-feather="file"></span>
                Espacios
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_categoria_index') }}">
                <span data-feather="shopping-cart"></span>
                Categorías
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_entrada_index') }}">
                <span data-feather="aperture"></span>
                Entradas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_etiqueta_index') }}">
                <span data-feather="award"></span>
                Etiquetas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_comentario_index') }}">
                <span data-feather="check-circle"></span>
                Comentarios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_usuario_index') }}">
                <span data-feather="filter"></span>
                Usuarios
            </a>
        </li>
    </ul>

 </div>